/* ===========Top navbar ====================== */
.navbar-principal {
    background-color: #fff;
}

.navbar-principal .navbar-brand,
.navbar-cover .navbar-nav>li>a,
.navbar-principal .navbar-nav>li>a {
    color: #3b5998;
    font-weight: 500;
}

.navbar-cover .navbar-nav>li>a:hover,
.navbar-principal .navbar-nav>li>a:hover,
.navbar-principal .navbar-nav>.active>a,
.navbar-principal .navbar-nav>.active>a:hover {
    color: #3b5998;
    background-color: #f9f9f9;
}

.navbar-principal .navbar-form .input-group input  {
    height: 30px;
}



/*=================== Cover ====================================*/
@media (max-width: 768px) {
    .sponsor-container {
        display: none !important;
    }
    .profile-photo-container .name {
        text-rendering: optimizelegibility;
        text-shadow: 0 0 3px rgba(0,0,0,.8);
    }
    .profile-photo-container {
        background:url('../../../img/Cover/cover.jpg') !important;
        border-bottom: 1px solid #eee;
    }
}

.cover-photo {
    background:url('../../../img/Cover/cover.jpg');
    background-color: #435e9c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    height:315px;
}

@media all and (max-width: 500px) {
    .col-md-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/*profile image*/
.profile-photo {
    height:120px;
    width:120px;
    margin-top: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}

.text-white{
    color: #fff;
}
.name-separator {
    border-width:2px;
}
.ocupation {
    opacity:0.8;
}
.profile-photo-container {
    background: -webkit-linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,.5) 100%);
    background: -moz-linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,.5) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,.5) 100%);
    background: linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6C6C6C', endColorstr='#818181');
    height:315px;
}

.panel-options {
    height:50px;
    background: white;
    color:black;
}

.panel-options .navbar-cover {
    background: #FFFFFF;
    border: 0px;
}

.col-posts,.col-detail {
    padding: 0px !important;
}

.navbar-cover {
    position: static !important;
}

.navbar-cover #profile-opts-navbar .nav > li {
    z-index: 900 !important;
    background: #FFFFFF;
}

/*==================== User detail ========================== */
.user-detail{
    margin-top:10px;
    padding-right:0px;
    padding-left:0px;
}

.user-detail .list-unstyled li{
    margin: 10px;
}

.user-detail .panel-body .list-unstyled li i {
    color:#c0c0c0;
    margin-right: 5px;
}

.user-detail .panel-footer{
    background: #FFFFFF;
}

/*========================Timeline container ================*/
.timeline-container {
    margin-top: 51px;
}

.sponsor-container {
    margin-top: 75px;
}

/*======================== Friends ==========================*/
.friends, .photos {
    list-style: none;
    display: inline-block;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 2;
    margin-bottom: 0;
    padding: 0;
}

.friends li, .photos li {
    float: left;
    margin: 0;
    width: 33.33%;
}
.photos li {
    float: left;
    margin: 0;
    width: 50%;
}

.friends li a, .photos li a {
    display: block;
    padding-left: 1px;
    padding-top: 1px;
}

.friends li a img:hover {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

    opacity: 0.7;
}

.friends li a img, .photos li a img {
    width: 100%;
}

.photos li a img:hover {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

    opacity: 0.7;
    cursor: pointer;
}

.timeline-container .panel-title,
.post .post-heading .meta .title a,
.post .post-footer .comments-list .comment .comment-heading .comment-user-name a {
    color: #3b5998;
    font-weight: bold;
}

/*======================== Likes ===========================*/
.panel-likes .carousel-inner .item img {
    max-width:100%;
    height: 80px;
}

.panel-likes .carousel-control.right {
    background-image:transparent !important;
}

.panel-likes .carousel-indicators li {
    border:1px solid #3b5998;
}

#carousel-movies .item img {
    height: 50%;
}


/*======================== Timeline post ====================*/
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    /*height: 95px;*/
    padding: 10px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}
.post .post-description {
    padding: 15px;
    padding-bottom: 5px;
}
.post .post-description p {
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 0px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .comment-user-name {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.comment-timestamp {
		display: inline;
		color: #333;
}

.post .post-footer .comments-list .avatar {
    width: 20px;
    height: 20px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}

.post .input-group .form-control  {
    z-index: 1;
}

.commenter {
    text-align: right;
    font-weight: bold;
    color:#3B5999;    
}

.commenter-parent {
    text-align: right;
    font-weight: normal;
}
/*========================Sponsor ==================*/
.sponsor-container {
    padding-bottom: 20px;
    padding-top: 20px;
}
.sponsor-container  .sponsor-name {
    color: #3b5998;
    font-weight: bold;
    margin-top: 4px;
}
.sponsor-container  .sponsor-url {
    margin-top: 2px;
}

.sponsor-container  .sponsor-description {
    font-size: 12px;
    margin-top: 3px;
}

.sponsor-container  .sponsor-list {
    margin-top: 20px;
    padding-top: 10px;
    border-top:1px solid #FFFFFF;
}


/*========================Chat Sidebar ===========================*/

.chat-sidebar .list-group {
    height: 94%;
}

.chat-sidebar ~ .nav-controller > .controller-open {
    display: inline-block;
}

.chat-sidebar ~ .nav-controller > .controller-close {
    display: none;
}
.chat-sidebar.focus ~ .nav-controller > .controller-open {
    display: none;
}

.chat-sidebar.focus ~ .nav-controller > .controller-close {
    display: inline-block;
}

.chat-sidebar.focus {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.chat-sidebar {
    position: fixed;
    top: 51px;
    right: -100%;
    padding-top: 35px;
    padding-bottom: 15px;
    height: 95%;
    width: 210px;
    text-align: right;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 0px 3px 0px rgba(160, 160, 160, 0.30);
    z-index: 999;
    overflow-y: auto;
}

.chat-sidebar.focus {
    right: 0px;
}

.chat-sidebar > .divider {
    content: '';
    border-bottom: 1px solid rgb(230, 230, 230);
    max-height: 1px;
    overflow: hidden;
    margin: 15px 0px;
}

.chat-sidebar > h4,
.chat-sidebar > p,
.chat-sidebar > ul {
    padding: 0px 10px;
}

.chat-sidebar > h4 {
    font-family: 'Anton', sans-serif;
}

.chat-sidebar > ul {
    list-style: none;
}
.chat-sidebar > ul > li {
    margin: 5px 0px;
}
.chat-sidebar > ul > li > a {
    color: rgb(190, 190, 190);
}

.chat-sidebar .img-chat {
    width: 40px;
    height: 40px;
    border : 0px !important;
}
.chat-sidebar .list-group-item {
    padding:1px 8px;
}
.chat-sidebar .list-group .list-group-item .chat-user-name {
    display: inline-block;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.chat-sidebar .connected-status {
    color: #008000 !important;
}

.chat-sidebar .absent-status {
    color: #FFA500 !important;
}

.chat-sidebar .chat-title {
    font-size: 20px;
    color:#A9A9A9;
    margin-bottom: 10px;
}

/*===================== chat box =================*/
.chat-window .col-md-2, .col-md-10{
    padding:0;
}
.chat-window .panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    display: none;
    z-index: 1000;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
    border:1px solid rgba(29, 49, 91, .3);
}
.chat-window .icon_minim{
    padding:2px 10px;
    color: #FFFFFF;
}
.chat-window .icon_close{
    color: #FFFFFF;
}
.chat-window .msg_container_base{
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height:300px;
    overflow-x:hidden;
}
.chat-window .top-bar {
    background: #3b5998;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.chat-window .msg_receive{
    padding-left:0;
    margin-left:0;
}
.chat-window .msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.chat-window .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.chat-window .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.chat-window .messages > time {
    font-size: 11px;
    color: #ccc;
}
.chat-window .msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.chat-window img {
    display: block;
    width: 100%;
}
.chat-window .avatar-chat-box {
    position: relative;
}
.chat-window .base_receive > .avatar-chat-box:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.chat-window .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.chat-window .base_sent > .avatar-chat-box:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px;
    left: -1.2px;
}

.chat-window .msg_sent > time{
    float: right;
}

.chat-window .msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #DCDCDC;
}

.chat-window .msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #DCDCDC;
}

.chat-window .msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.footer {
    color: #3b5998;
    border-top: 1px solid #FFFFFF;
    padding: 15px;
    font-weight: bold;
}



.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    min-height: 50px;
    padding: 10px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}



body::-webkit-scrollbar {
    width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    background:#ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 90px auto;
}

.form-search-recommendation {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
}

.container {
    margin-top: 70px;
}

.card {
    border-radius: 500px;
    width:  100px;
    height: 100px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
}

.card_name {
    margin: 25px auto 25px auto;
    text-align: center;
}

.form_panel {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.spinner {
    text-align: center;
}
