<!-- task1.html -->
<div>

	<!-- content -->
	<div class="container">
		<div class="row">
			<div id="side-col" class="col-md-4">
				<!--Sidebar content-->
				<h4>Task 1</h4>
				<div class="panel panel-default">
					<form class="form-signin">
						<input id="inputID" ng-model="id"
						class="form-control" placeholder="User ID" required="" autofocus="">
						<input id="inputPassword" ng-model="password"
						class="form-control" placeholder="Password" required="" type="password">
						<div class="checkbox">
							<label>
								<input value="remember-me" type="checkbox"> Remember me
							</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="task1go()">Sign in</button>
					</form>
				</div>


				<div class="panel panel-default">
					<div class="panel-thumbnail">
						<img src="{{profile}}" class="img-responsive">
					</div>
				</div>
				<div class="panel-body">
					<p class="lead">{{name}}</p>
				</div>

				<div class="panel panel-default"> 
					<div class="panel-heading">
						<a href="#" class="pull-right">View all</a>
						<h4>About</h4>
					</div> 
					<div class="panel-body"> 
						<div class="list-group"> 
							<a href="#" class="list-group-item">Work and Education</a> 
							<a href="#" class="list-group-item">Contact and Basic Info</a> 
							<a href="#" class="list-group-item">Family and Relationships</a>
						</div> 
					</div> 
				</div>

				<div class="well"> 
					<form class="form-horizontal" role="form"> 
						<h4>What's New</h4> 
							<div class="form-group" style="padding:14px;"> 
								<textarea class="form-control" placeholder="Update your status"></textarea> 
							</div> 
							<button class="btn btn-primary pull-right" type="button">Post</button> 
							<ul class="list-inline"> 
								<li>
									<a href=""><i class="glyphicon glyphicon-upload"></i></a>
								</li> 
								<li>
									<a href=""><i class="glyphicon glyphicon-camera"></i></a>
								</li> 
								<li>
									<a href="">
									<i class="glyphicon glyphicon-map-marker"></i></a>
								</li> 
							</ul> 
					</form> 
				</div> 
			</div>
			<div id="main-col" class="col-md-6">
				<!--Body content-->
			</div>
		</div>
	</div>
</div>